.navbar.navbar-1 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}

.excuseHeader {
  margin-top: 30px;
}

.slider {
  text-align: center;
}

.slider1 {
  text-align: left;
}

.slider5 {
  text-align: right;
}

#signin {
  background-color: #F0C808;
  position: relative;
  margin-left: 25%;
}

.landingPage {
  background-image: url("../../assets/background_Orange.png");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer {
  position: static;
  bottom: 0;
  width: 100%;
}

#cardTitle {
  text-align: center;
  padding-top: 10px;
}

#main-container {
  position: relative;
  min-height: 100vh;
}

.navimg {
  height: 50px;
  width: 50px;
  position: center;
}

select {
  width: 50%;
}