.navbar.navbar-1 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}

.excuseHeader{
  margin-top: 30px;
}

.slider{
  text-align: center;
}

.slider1{
  text-align: left;
}
.slider5{
  text-align: right;
}

#customBtn{background-color:#F0C808;
  position: fixed;
  margin-left: 42px;
}

#landingPage{background-image: image ('../..Assets/background_Orange.png');
   height: 568px;
   width: 320px;
   position: auto;
}

#footer{
   position: static; 
   bottom: 0;
   width: 100%;
}

#cardTitle{
    text-align: center;
    padding-top: 10px;
}

#main-container{
    position: relative;
    min-height: 100vh;
}